.list-item {
  border-radius: 2px;
  box-shadow: 0 2px #bcc2c9;
  position: relative;
  list-style: none;
}

.card {
  padding: 10px 5px;
}

.card:hover {
  cursor:grab;
}

/* .card:active {
  cursor: grabbing;
} */

.del-btn {
  display: none;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}

.card:hover .del-btn {
  display: block;
  cursor: pointer;
  padding: 0 2px;
  background: #cecece;
  border-radius: 2px;
}

.card-stub {
  background: #d1d8e0;
  cursor: grabbing;
}

.dragged {
  cursor: grabbing;
  position: fixed;
  z-index: 9999;
  background: #fff;
  /* width: 100%; */
  /* border: 1px  solid gray; */
  box-shadow: 0 2px #bcc2c9, 2px 4px 15px 7px #bcc2c9;
  pointer-events: none;
}